.btn {
	position: absolute;
	bottom: 12px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: 55px;
	border: none;
	border-radius: 50%;
	background-color: $accent-cl;

	@include tablet {
		display: none;
	}
}
