.pageContainer {
	padding-top: 84px;
	padding-bottom: 31px;
}
.backLink {
	display: block;
	margin-bottom: 32px;
}

.books {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@include tablet {
		gap: 40px;
	}

	@include desktop {
		gap: 32px;
	}
}
