$tablet: 768px;
$desktop: 1280px;

$main-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Abril Fatface', serif;

$main-light-cl: #ffffff;
$accent-cl: #ff6b08;
$accent-cl-hover: #f25137;
$light-gray-cl: #a6abb9; //плейсхолдер, border, зірки,icons

$bg-light-cl: #f6f7fb;
$bg-light-gray-cl: #f5f7fa; // input bg, bg під цифрами, bg icons
$bg-medium-gray-cl: #b1b5c2; //графік, bg заголовків
$bg-dark-gray-cl: #6d7a8d;

$main-tx-cl: #242a37;
$secondary-tx-cl: #898f9f;

$transition: 400ms ease-in-out;
