.navList {
	display: flex;
	gap: 8px;
}
.link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	transition: background-color $transition;

	&:global(.active),
	&:hover {
		background-color: $bg-light-gray-cl;
	}
}
